{% extends 'admin/base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var login_url = "{{ url_for('bp_api.login', web=1) }}";
        var signup_url = "{{ url_for('bp_api.create_user', web=1) }}";
        var logout_url = "{{ url_for('bp_api.logout') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}

{% block access_control %}
<div id="auth_container" class="navbar-right">
    {% if not current_user %}
    <form id="login" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="username">Username</label>
            <input type="text" class="form-control" placeholder="Username" id="username" required value="{{ request.form.username }}">
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required value="{{ request.form.password }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>

        <div class="form-group">
            <a href="{{ url_for('admin_signup.index') }}">Sign up</a>
        </div>
    </form>
    <div id="error" class="help-block"/>
    {% else %}
    <div id="logged">Logged as {{ current_user.username }}. 
        <a id="logout" style="cursor: pointer; margin-left:10px;">Logout</a>
    </div>
    {% endif %}
</div>
{#
{% if current_user.is_authenticated %}
<div class="navbar-text btn-group pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="glyphicon glyphicon-user"></i>
        {% if current_user.name -%}
        {{ current_user.name }}
        {% else -%}
        {{ current_user.email }}
        {%- endif %}<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ url_for_security('change_password') }}">Change password</a></li>
        <li><a href="{{ url_for_security('logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
#}
{% endblock %}
